h1 {
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
background-color: coral;
font-size: 20px;
width: 300px;
height: 200px;
overflow: auto;
}


div p{
    color: red;
    font-size: 2vw;
}