html,
body {
  height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.div_header {
  background-color: #fff159;
  height: 15ex;
}

.div_header_cont {
  display: inline-block;
}
.div_header_cont_center {
  background-color: #fff159;
  position: absolute;
  left: 30%;
  margin: -50px 0 0 -50px;
}
.div_header_cont_left {
  position: absolute;
}
.search_bar {
  margin: auto;
  width: 40vw;
  height: 25px;
}

.buscar_button {
  height: 26px;
}

.img {
  height: 3vw;
}

.div_botones_usuario {
  position: absolute;
  height: 2vw;
  width: 20vw;
  margin-left: auto;
  white-space: nowrap;
  text-align: center;
}
.a_botones_usuario {
  margin: 15px;
  text-decoration: none;
}
.icono_usuario {
  display: inline-block;
  height: 1vw;
  margin-top: 1vw;
  padding-top: 2px;
  padding-bottom: 2px;
}
.texto_botones_usuario {
  display: inline-block;
  color: #333;
  font-family: "Proxima Nova", Arial, sans-serif, sans-serif;
  margin-left: 5px;
  text-align: center;
  vertical-align: top;
}

.logo {
  padding-top: 5px;
  padding-left: 10px;
}

.div_header_cont_right {
  float: right;
}

.pagos {
  background-color: silver;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  white-space: nowrap;
  padding: 10px;
  margin-right: auto;
  border-radius: 15px;
}
.medio_pago {
  display: inline-flex;
  height: 50px;
  width: 15em;
  background-color: gainsboro;
  border-radius: 10px;
}

.medio_pago:hover {
  background-color: whitesmoke;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.icono_pago {
  width: 50px;
  margin-left: 20px;
  display: inline-block;
}

.h4_tipo_pago {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  text-align: center;
}

.div_cont_productos {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  white-space: nowrap;
  padding: 5px;
  margin-right: auto;
  border-radius: 15px;
}
.div_producto {
  display: inline-flex;
  position: relative;
  background-color: white;
  justify-content: center;
  width: 250px;
  height: 300px;
}

.div_producto:hover {
  background-color: whitesmoke;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.div_producto:hover h5 {
  opacity: 1;
}

.a_cont_producto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.img_producto {
  position: absolute;
  margin-top: 10px;
  height: 130px;
}

.cont_datos_producto {
  position: absolute;
  width: 100%;
  margin-top: 100px;
}
.precio_producto {
  font-size: 1.7em;
  margin-top: 5px;
  color: black;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 10px;
  margin: 0;
  font-weight: 500;
  text-align: left;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}
.nombre_producto {
  white-space: normal;
  top: 30px;
  color: grey;
  margin: 0;
  opacity: 0;
  font-size: large;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 8px;
  text-align: left;
  margin-top: 1px;
}
